* {
  transition: all var(--animation-time);
}

section {
  padding: calc(0.5 * var(--section-spacing)) 0;
}
section:first-child {
  padding-top: 0;
}

main-header {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 8px 8px -4px #888;
  z-index: 100;
}
main-header > div {
  height: calc(var(--header-height) * 0.75);
}

main-header .figure {
  padding: 0 3px;
  column-gap: 6px;
  width: 315px;
  margin: 5px 0;
}
main-header .figure > img {
  height: calc(var(--header-height) - 50px);
}
main-header .menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 91vw;
  height: 100vh;
  padding: calc(var(--header-height) * 0.75 + 10px) 15px 0;
  background-color: #fff;
  transform: translateX(110vw);
}
main-header .menu-items {
  border-bottom: 1px solid #000;
}
main-header .menu-items:first-child {
  border-top: 1px solid #000;
}
main-header .menu a {
  display: flex;
  height: calc(var(--header-height) * 0.6);
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  margin: 10px 0;
}
main-header .hamburger-menu {
  --bar-width: 50px;
  --bar-height: 9px;
  --hamburger-gap: 8px;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  position: fixed;
  top: calc(var(--header-height) * 0.375);
  right: 15px;
  transform: translateY(-50%);
  row-gap: var(--hamburger-gap);
  z-index: 2;
}
main-header .hamburger-input {
  display: none;
}
main-header .hamburger-menu span {
  display: inline-block;
  transform-origin: right center;
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--primary-light-color);
  border-radius: 3px;
}
main-header .hamburger-menu.open span:nth-child(1) {
  rotate: -45deg;
}
main-header .hamburger-menu.open span:nth-child(2) {
  width: 0px;
}
main-header .hamburger-menu.open span:nth-child(3) {
  rotate: 45deg;
}
main-header .hamburger-menu.open + .menu {
  transform: translateX(0);
}
main-header a:hover,
main-header a:focus {
  background-color: var(--secondary-color);
}
main {
  padding-top: calc(var(--header-height) * 0.75 + 15px);
}
/* Section banner-slide-show */
.banner-slide-show {
  padding-bottom: 45px;
}
slider-component {
  display: block;
}
.banner-slide-show .splide__slide picture {
  display: block;
}
.banner-slide-show .splide__pagination {
  bottom: -30px;
}
.banner-slide-show .splide__pagination li {
  margin: 0 6px;
}
.banner-slide-show .splide__pagination .splide__pagination__page {
  background: #753d05;
}
.banner-slide-show .splide__pagination .splide__pagination__page.is-active {
  background: #030303;
}
/* Section list-categories */
.list-categories .categories__item {
  padding-bottom: 24px;
}
.list-categories .categories__item > h3 {
  padding-bottom: 18px;
}
.list-categories .categories__item .iwt .text > div {
  margin: 0 10px 10px;
  padding: 10px 8px;
  border: #888 dashed;
  border-width: 0px 2px 2px;
}
.list-categories .categories__item .iwt .text h6 {
  font-family: "Merienda";
  line-height: 150%;
}
/* Footer */
main-footer {
  display: block;
  background-color: var(--tertiary-dark-color);
}
main-footer * {
  color: #fff;
}
main-footer .footer-wrapper > div {
  padding-top: 14px;
  padding-bottom: 14px;
}
main-footer > div {
  padding: 25px 0;
}
main-footer .pages > div {
  padding: 0 0 12px;
}
main-footer .social-links li svg {
  height: min-content;
  width: 65px;
  padding: 3px;
  margin: 0 7px;
}
main-footer .company > * {
  padding: 0 0 5px;
}
main-footer .company > p {
  padding-left: 20px;
}
main-footer .pages > div:last-child,
main-footer .company > *:last-child {
  padding-bottom: 0;
}
@media (min-width: 768px) {
  section {
    padding: var(--section-spacing) 0;
  }
  main-header > div {
    height: var(--header-height);
    padding: 0px 140px;
  }
  main-header .figure {
    padding: 0 12px;
    column-gap: 9px;
    width: 415px;
  }
  main-header .figure > img {
    height: calc(var(--header-height) - 30px);
  }
  main-header .menu {
    position: static;
    transform: translateX(0);
    width: unset;
    height: unset;
    padding: 0;
  }
  main-header .menu > ul {
    flex-direction: row;
  }
  main-header .menu-items,
  main-header .menu-items:first-child {
    border: none;
  }
  main-header .menu a {
    height: calc(var(--header-height) - 10px);
    padding: 0 20px;
    margin: 5px 0;
    align-items: center;
  }
  main {
    padding-top: calc(var(--header-height) + 20px);
  }
  /* Section banner-slide-show */
  .banner-slide-show .splide__slide picture {
    padding-bottom: 56.25%;
  }
  /* Section list-categories */
  .list-categories .categories__item {
    padding-bottom: 33px;
  }
  .list-categories .categories__item > h3 {
    padding-bottom: 24px;
  }
  .list-categories .categories__item {
    width: 93%;
    margin: 0 auto;
  }
  .list-categories .categories__item .iwt {
    flex-direction: row;
  }
  .list-categories .categories__item .iwt .image {
    flex-basis: 60%;
  }
  .list-categories .categories__item .iwt .text {
    flex-basis: 40%;
  }
  .list-categories .categories__item .iwt .text > div {
    height: calc(100% - 40px);
    padding: 0 20px;
    margin: 20px 20px 20px 0;
    border-width: 2px 2px 2px 0;
  }
  .list-categories .categories__item:nth-child(even) .iwt {
    flex-direction: row-reverse;
  }
  .list-categories .categories__item:nth-child(even) .iwt .text > div {
    margin: 20px 0 20px 20px;
    border-width: 2px 0 2px 2px;
  }
  /* Footer */
  main-footer .footer-wrapper .info-wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  main-footer .footer-wrapper .info-wrapper .pages {
    flex-basis: 40%;
  }
  main-footer .footer-wrapper .info-wrapper .company {
    flex-basis: 45%;
  }
  main-footer .pages {
    flex-direction: row;
  }
  main-footer .pages > div {
    padding: 0 0 25px;
  }
  main-footer .social-links li svg {
    width: 75px;
    margin: 0 14px;
  }
  main-footer .copy-rights {
    flex-direction: row;
  }
  main-footer .copy-rights > .small-hide {
    padding: 0 6px;
  }
}
